In [5]:
import pandas as pd

df_basinc = pd.read_csv('../data/weather_datas/basinc.csv')
df_bulut = pd.read_csv('../data/weather_datas/bulut.csv')
df_nem = pd.read_csv('../data/weather_datas/nem.csv')
df_ruzgar = pd.read_csv('../data/weather_datas/ruzgar_hizi_yonu.csv')
df_sicaklik = pd.read_csv('../data/weather_datas/sicaklik.csv')
df_yagis = pd.read_csv('../data/weather_datas/yagis_miktari.csv')

tables = [df_nem, df_ruzgar, df_sicaklik, df_yagis]
real_df = pd.merge(df_basinc, df_bulut, on = 'Zaman')

for i in tables:
    real_df = pd.merge(real_df, i, on = 'Zaman')

df = real_df.copy()
df = df.dropna()
df.tail()

,Zaman,Basınç,Bulut,Nem,Rüzgar Hızı,Rüzgar Yönü,Sıcaklık,Yağış
14203,20240814T1900,1015.3,28.200000,71.347370,30.625402,252.20401,22.820246,0.0
14204,20240814T2000,1016.1,27.900002,78.545204,28.732420,254.74487,21.200245,0.0
14205,20240814T2100,1016.4,29.100000,84.666410,26.717722,255.96376,20.060246,0.0
14206,20240814T2200,1017.1,39.000000,83.306114,13.708390,240.06850,20.290245,0.0
14207,20240814T2300,1016.9,31.000000,85.810330,15.124284,231.76617,19.600245,0.0

In [47]:
df = pd.merge(df, df_yagis, on = 'Zaman')
df.head()

,Zaman,Basınç,Bulut,Nem,Rüzgar Hızı,Rüzgar Yönü,Sıcaklık,Yağış
0,20230101T0000,1021.4,8.700001,80.826390,83.567314,230.06802,12.270246,0.0
1,20230101T0100,1021.3,22.000000,79.099785,87.857704,229.65335,12.340245,0.0
2,20230101T0200,1021.5,44.000000,80.655174,90.806390,230.63068,11.840245,0.0
3,20230101T0300,1021.7,22.000000,81.831300,90.299736,230.66238,11.550245,0.0
4,20230101T0400,1021.9,4.000000,81.179360,90.745705,231.76617,11.260245,0.0

In [43]:
df.head()

           Zaman  Basınç      Bulut
0  20230101T0000  1021.4   8.700001
1  20230101T0100  1021.3  22.000000
2  20230101T0200  1021.5  44.000000
3  20230101T0300  1021.7  22.000000
4  20230101T0400  1021.9   4.000000